.editr{
    background-color: rgb(72, 130, 138);
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 2.5em;
    font-weight: 500;
    font-size: 1.2em;
    width: 55rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    height:52rem;
    border-radius: 30px;
}

.repbtn{
    width:250px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 250px;
    background-color: rgb(83, 92, 143);
    border-color: rgb(0, 2, 3);
    
}

.repbtn:hover{
    background: rgb(7, 3, 44);
    color: #baaece;
    font-weight: 500;
}




